<%- include('partials/header.ejs') %>

<main class="form-signin">
  <form action="/signup" method="post">
    <img
      class="mb-4"
      src="/docs/5.1/assets/brand/bootstrap-logo.svg"
      alt=""
      width="72"
      height="57"
    />
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

    <div class="form-floating">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        name="name"
      />
      <label for="floatingInput">Name</label>
    </div>
    <div class="form-floating">
      <input
        type="email"
        class="form-control"
        id="floatingInput"
        placeholder="name@example.com"
        name="email"
      />
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input
        type="date"
        class="form-control"
        id="floatingPassword"
        placeholder="Password"
        name="birthDate"
      />
      <label for="floatingPassword">Birth Date</label>
    </div>
    <div class="form-floating">
      <input
        type="password"
        class="form-control"
        id="floatingInput"
        placeholder="*********"
        name="password"
      />
      <label for="floatingInput">Password</label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
  </form>
</main>

<%- include('partials/footer.ejs') %>
